-var sysName = '<%=sysName%>'
-var styles = [<% styles.forEach( function(file){ print('"' + file + '",') }); %>]
-var scripts = [<% scripts.forEach( function(file){ print('"' + file + '",') }); %>]
mixin dropdown_toggle(icon, badge, number)
  a.dropdown-toggle(data-toggle="dropdown", href="#")
    i(class=icon)
    span.badge(class="badge-#{badge}")= number

mixin dropdown_header(icon, text)
  li.dropdown-header
    i(class="icon-#{icon}")
    | #{text}
mixin summary(text)
  li
    a(href="#")
      | #{text}
      i.icon-arrow-right
mixin check_option(key, value)
  script(type="text/javascript").
    try{
      ace.settings.check('#{key}', '#{value}')
    }catch(e){
    }

doctype html
html(ng-app="Itsnow.#{sysName}Index")
  head(lang="zh-CN")
    title(ng-bind="pageTitle")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/icon", href="/assets/favicon.ico")
    each style in styles
      link(rel="stylesheet", type="text/css", href=style)
    each js in scripts
      script(type="text/javascript", src=js)
  body(ng-controller='IndexCtrl')
    .navbar.navbar-default#navbar
      +check_option('navbar', 'fixed')

      .navbar-container#navbar-container
        .navbar-header.pull-left
          a.navbar-brand(href="#")
            i.icon-leaf
            | ItsNow ITIL Platform

        .navbar-header.pull-right(role="navigation")
          ul.nav.ace-nav
            include index/parts/tasks
            include index/parts/notifications
            include index/parts/messages
            include index/parts/profile
    // 主体内容
    .main-container#main-container
      +check_option('main-container', 'fixed')
      .main-container-inner
        a.menu-toggler#menu-toggler(href="#")
          span.menu-text
        .sidebar#sidebar
          +check_option('sidebar', 'fixed')
          include index/parts/shortcuts
          include index/parts/menus
          +check_option('sidebar', 'collapsed')

        .main-content
          include index/parts/breadcrumbs
          .page-content: .row: .col-xs-12: div(ui-view)

        include index/parts/page_settings

      a.btn-scroll-up.btn.btn-sm.btn-inverse(href="#")#btn-scroll-up
        i.icon-double-angle-up.icon-only.bigger-110
