-var sysName = '<%=sysName%>'
-var style  = '<%= style %>'
-var scripts = [<% scripts.forEach( function(file){ print('"' + file + '",') }); %>]
mixin dropdown_toggle(icon, badge, number)
  a.dropdown-toggle(data-toggle="dropdown", href="#")
    i(class=icon)
    span.badge(class="badge-#{badge}")= number

mixin dropdown_header(icon, text)
  li.dropdown-header
    i(class="icon-#{icon}")
    | #{text}
mixin summary(text)
  li
    a(href="#")
      | #{text}
      i.icon-arrow-right
mixin check_option(key, value)
  script(type="text/javascript").
    try{
      ace.settings.check('#{key}', '#{value}')
    }catch(e){
    }

!!! 5
html
  head(lang="zh-CN")
    title(ng-bind="pageTitle")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon", type="image/icon", href="/assets/favicon.ico")
    link(rel="stylesheet", type="text/css", href=style)
    each js in scripts
      script(type="text/javascript", src=js)
  body(ng-app="Itsnow.#{sysName}Index")
    .navbar.navbar-default#navbar
      +check_option('navbar', 'fixed')

      .navbar-container#navbar-container
        .navbar-header.pull-left
          a.navbar-brand(href="#")
            i.icon-leaf
            | ItsNow ITIL Platform

        .navbar-header.pull-right(role="navigation")
          ul.nav.ace-nav
            include index/tasks
            include index/notifications
            include index/messages
            include index/profile
    // 主体内容
    div(ui-view)
