//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("请求人信息")
  +group("incident", "requesterName", "请求人", "star", "请求人")
    +select("incident", "requesterName")(disabled=readonly,ng-options="staff.name as staff.name for staff in staffs",ng-change="changeRequesterName(incident.requesterName)")
  +group("incident", "requesterPhone", "联系电话", "star", "联系电话")
    +input("incident", "requesterPhone")(readonly=readonly,ng-maxlength="20")
  +group("incident", "requesterEmail", "邮箱", "star", "请求人名称")
    +input("incident", "requesterEmail")(readonly=readonly,ng-maxlength="20")
  +group("incident", "requesterLocation", "所处地区", "star", "所处地区")
    +input("incident", "requesterLocation")(readonly=readonly)
+section("故障信息")
  +group("incident", "requestType", "请求来源", "star", "请求来源")
    +select("incident", "requestType")(readonly=readonly=readonly,ng-options="requestType.value as requestType.key for requestType in requestTypes.details")
  +group("incident", "impact", "影响程度", "th-list", "影响程度")
    +select("incident", "impact")(readonly=readonly,ng-options="impact.value as impact.key for impact in impacts.details")
  +group("incident", "priority", "优先级", "th-list", "优先级")
    +select("incident", "priority")(readonly=readonly,ng-options="priority.value as priority.key for priority in priorities.details")
  +group("incident", "urgency", "紧急程度", "th-list", "紧急程度")
    +select("incident", "urgency")(readonly=readonly,ng-options="urgency.value as urgency.key for urgency in urgencies.details")
  +group("incident", "category", "配置分类", "star", "配置分类")
    +select("incident", "category")(readonly=readonly,ng-options="category.value as category.key for category in categories.details")
  +group("incident", "ci", "配置项", "star", "配置项")
    +input("incident", "ci")(readonly=readonly)
  +group("incident", "requestDescription", "问题描述", "edit", "问题描述")
    +area("incident", "requestDescription")(readonly=readonly,required)
  div(ng-hide='buttonLabel==="创建"')
    +group("incident", "solution", "解决方案", "edit", "解决方案")
      +area("incident", "solution")(readonly=readonly)
  div(ng-show='buttonLabel === "分析"')
    div(ng-show="incident.assignedGroup == 'ROLE_LINE_ONE'")
      +group("incident", "canProcess'", "能否处理", "star", "一线能否处理该故障")
        +input("incident", "canProcess")(readonly=readonly,type='checkbox')
    div(ng-show="incident.assignedGroup == 'ROLE_LINE_TWO'")
      +group("incident", "hardwareError'", "是否硬件故障", "star", "是否硬件故障")
        +input("incident", "hardwareError")(readonly=readonly,type='checkbox')
  div(ng-show='buttonLabel === "解决"')
    +group("incident", "resolved'", "是否解决", "star", "是否解决")
      +input("incident", "resolved")(readonly=readonly,type='checkbox')
