//- A standard form
mixin form(name)
  form.form-horizontal(name=name, novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form")&attributes(attributes)
    block
//- A section contains several form groups
mixin section(title)
  .widget-box
    .widget-header
      h4 #{title}
    .widget-body
      .widget-main
        block
//- A group contains a input label and field
mixin group(object, field, label, icon, tip)
  .form-group.has-info&attributes(attributes)
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="#{object}_#{field.replace('.','_')}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        block
        if icon 
          i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}
//- a input contains represents a input field
mixin input(object, field)
  input.form-control(id="#{object}_#{field.replace('.','_')}", name="#{object}.#{field}", ng-model="#{object}.#{field}")&attributes(attributes)
//- a text input contains represents a input field
mixin text(object, field)
  +input(object,field)(type="text")&attributes(attributes)
//- a radio input contains represents a input field
mixin radio(object, field)
  +input(object,field)(type="radio")&attributes(attributes)
//- a checkbox input contains represents a input field
mixin checkbox(object, field)
  +input(object,field)(type="checkbox")&attributes(attributes)
//- a file input contains represents a input field
mixin file(object, field)
  +input(object,field)(type="file")&attributes(attributes)
//- a area contains represents a input text area
mixin area(object, field)
  textarea.form-control(id="#{object}_#{field.replace('.','_')}", name="#{object}.#{field}", ng-model="#{object}.#{field}")&attributes(attributes)
//- a select contains represents a select field
mixin select(object, field)
  select.form-control(id="#{object}_#{field}", name="#{object}.#{field}", ng-model="#{object}.#{field}")&attributes(attributes)

//- the action bar in form bottom(or top)
mixin action_bar
  .clearfix.form-actions
    .col-md-offset-4.col-md-12
      block
//- the action button in action bar
mixin action_button(title,type,icon,level)
  button.btn.no-border(class="btn-#{level}",type=type)&attributes(attributes)
    i.bigger-110(class="icon-#{icon}")
    | #{title}
//- the default submit action
mixin action_submit(label)
  +action_button(label,"submit","ok","primary")(ng-disabled="submited")&attributes(attributes)
//- the default cancel/reset action
mixin action_cancel(label)
  +action_button(label,"reset","undo","default")&attributes(attributes)
