//- a dropdown toggle
mixin dropdown_toggle(icon, badge, number)
  a.dropdown-toggle(data-toggle="dropdown", href="javascript:void(0)")
    i(class=icon)
    span.badge(class="badge-#{badge}")= number
mixin dropdown_header(icon, text)
  li.dropdown-header
    i(class="icon-#{icon}")
    | #{text}
mixin summary(text)
  li
    a(href="javascript:void(0)")
      | #{text}
      i.icon-arrow-right
mixin check_option(key, value)
  script(type="text/javascript").
    try{
      ace.settings.check('#{key}', '#{value}')
    }catch(e){
    }
