//- Mixins used in list pages

//- ********* Tool bar beyond the table **********
//- a toolbar
mixin toolbar
  .btn-toolbar(role="toolbar")
    block
//- a group buttons in the toolbar
mixin button_group
  .btn-group
    block
//- a tool button in the toolbar's button group
mixin tool_button(action, icon, text, weight, rejectCss, requireCss)
  button.btn.btn-primary.no-border(type="button", ng-click="#{action}", weight="#{weight}", reject-css="#{rejectCss}", require-css="#{requireCss}")
    span.glyphicon(class="glyphicon-#{icon}")
    | #{text}
//- a more buttons indicator
mixin more_buttons
  +button_group
    button.btn.btn-primary.no-border.dropdown-toggle(type="button",data-toggle="dropdown")
      | 更多操作
      span.caret
    ul.dropdown-menu.user-menu(role="menu")
      block
//- a drop button in the more buttons group
mixin drop_button(action, icon, text, weight, rejectCss, requireCss)
  li
    a(href="javascript:void(0)", ng-click="#{action}", weight="#{weight}", reject-css="#{rejectCss}", require-css="#{requireCss}")
      i(class="icon-#{icon}")
      | #{text}


//- *********** Main Table *****************
mixin page_table(name, selection)
  table.table.table-hover.table-bordered(template-pagination="customPager", ng-table=name)
    block
  script(type="text/ng-template")#ngTableCheckboxHeader
    +select_all(selection)
  script(type="text/ng-template")#customPager
    ul.pager.ng-cloak
      +page_navs()
      li: div.btn-group
        +page_size_button(5)
        +page_size_button(10)
        +page_size_button(25)
        +page_size_button(50)
        +page_size_button(100)

//- the table without pagination
mixin common_table(name, selection)
  table.table.table-hover.table-bordered(ng-table=name)
    block
  script(type="text/ng-template")#ngTableCheckboxHeader
    +select_all(selection)


//- the select all checkbox of the list table
mixin select_all(selection)
  input(type="checkbox", ng-model="#{selection}.checked", name="filter-checkbox", value="")#select_all

mixin page_navs()
  li(ng-repeat="page in pages", ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}", ng-show="page.type == 'prev' || page.type == 'next'", ng-switch="page.type")
    +nav_link("prev", "step-backward", "上一页")
    +nav_link("next", "step-forward", "下一页")

mixin nav_link(value, icon, text)
  a(ng-switch-when="#{value}", ng-click="params.page(page.number)", href="")
    span.glyphicon(class="glyphicon-#{icon}")
    | #{text}

mixin page_size_button(count)
  button.btn.btn-primary.no-border(type="button", ng-class="{'active':params.count() == #{count}}", ng-click="params.count(#{count})")= count

mixin row(name, key, selection)
  tr.line(ng-repeat="#{name} in $data", value="{{#{name}.#{key}}}")&attributes(attributes)
    td(width="30", align="left", header="'ngTableCheckboxHeader'")
      input.selection(type="checkbox", ng-model="#{selection}.items[#{name}.#{key}]")
    block