//   New schema
doctype html

mixin widgetBox(title)
  .col-md-offset-2.col-md-8
    .widget-box
      .widget-header
        h4 #{title}
      .widget-body
        .widget-main
          block
mixin formGroup(name, label, icon, tip)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="schema_#{name}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        block
        i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}
mixin field(name, label)
  input.form-control(id="schema_#{name}", name="schema.#{name}", ng-model="schema.#{name}", type="text", placeholder="#{label}", required!=attributes["required"], ng-maxlength!=attributes["ng-maxlength"], ng-check!=attributes["ng-check"])
mixin selector(name, datas, key, value)
  select.form-control(ng-model="schema.#{name}", ng-init="schema.#{name} = #{datas}[0].#{key}", ng-options="data.#{key} as data.#{value} for data in #{datas}", required!=attributes["required"])
mixin formBtn(title, icon)
  button.btn.btn-sm.btn-primary(ng-click!=attributes["ng-click"], ui-sref!=attributes["ui-sref"], type!=attributes["type"])
    i(class="icon-#{icon}")
    | #{title}

.row(ng-controller="schemaNewCtrl")
  form.form-horizontal(name="newSchemaForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="createSchema()")
    +widgetBox("Schema信息")
      +formGroup("hostId",     "数据库主机", "star", "")
        +selector("hostId", "hosts", "id", "name")(required="true")
      +formGroup("name",     "Schema名称", "star", "")
        +field("name", "Schema名称")(required="true", ng-maxlength="20", ng-check="/admin/api/schemas/check/name/{0}")
      +formGroup("description",     "Schema描述", "star", "")
        +field("description", "Schema描述")(ng-maxlength="20")
    +widgetBox("配置信息")
      +formGroup("configuration.user",     "数据库用户名", "star", "")
        +field("configuration.user", "数据库用户名")(required="true", ng-maxlength="20")
      +formGroup("configuration.password",     "数据库用户密码", "star", "")
        +field("configuration.password", "数据库用户密码")(required="true", ng-maxlength="20")

    .row-fluid.actions
      .col-xs-12.col-sm-8.col-md-offset-2
        p.alert.alert-info
          span.col-md-offset-4
            +formBtn("创建", "ok")(type="submit")
            +formBtn("取消", "remove")(ui-sref="schemas")