//   New host
doctype html

mixin widgetBox(title)
  .col-md-offset-2.col-md-8
    .widget-box
      .widget-header
        h4 #{title}
      .widget-body
        .widget-main
          block
mixin formGroup(name, label, icon, tip)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="host_#{name}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        block
        i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}
mixin field(name, label)
  input.form-control(id="host_#{name}", name="host.#{name}", ng-model="host.#{name}", type="text", placeholder="#{label}", required!=attributes["required"], ng-maxlength!=attributes["ng-maxlength"], min!=attributes["min"], max!=attributes["max"], ng-check!=attributes["ng-check"], err-type!=attributes["err-type"])
mixin fieldNum(name, label)
  input.form-control(id="host_#{name}", name="host.#{name}", ng-model="host.#{name}", type="number", placeholder="#{label}", min!=attributes["min"], max!=attributes["max"])
mixin selector(name, datas)
  select.form-control(ng-model="host.#{name}", ng-options="data for data in #{datas}", ng-init="host.#{name} = #{datas}[0]")

mixin formBtn(title, icon)
  button.btn.btn-sm.btn-primary(ng-click!=attributes["ng-click"], ui-sref!=attributes["ui-sref"], type!=attributes["type"])
    i(class="icon-#{icon}")
    | #{title}

.row(ng-controller="HostNewCtrl")
  form.form-horizontal(name="newHostForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="createHost()")
    +widgetBox("主机信息")
      +formGroup("name",     "主机名", "star", "主机名，不要用中文，尽量为简单的英文字符")
        +field("name", "主机名")(required="true", ng-maxlength="20", ng-check="/admin/api/hosts/checkName?value={0}")
      +formGroup("address",  "地址",   "font", "主机地址，IP地址或者域名均可")
        +field("address", "地址")(required="true", ng-maxlength="20", ng-check="/admin/api/hosts/checkAddress?value={0}")
      +formGroup("type",  "类型",   "font", "")
        +selector("type", "types")(required="true")
      +formGroup("capacity", "容量",   "th", "主机上可以部署多少个MSU/MSP实例")
        +fieldNum("capacity", "容量")(required="true", min="0", max="9999")
    +widgetBox("配置信息")
      +formGroup("configuration.user", "用户名",   "user", "用户名，默认为root")
        +field("configuration.user", "用户名")(required="true", ng-maxlength="20")
      +formGroup("configuration.password", "密码",   "password", "以上用户的密码")
        +field("configuration.password", "密码")(required="true", ng-maxlength="20",ng-check="/admin/api/hosts/checkPassword?host={{host.address}}&username={{host.name}}&password={0}", err-type="pwError")
      +formGroup("configuration.msu_version", "MSU版本",   "msu_version", "部署的MSU的版本号")
        +field("configuration.msu_version", "MSU版本")(required="true", ng-maxlength="20")
      +formGroup("configuration.msp_version", "MSP版本",   "msu_version", "部署的MSP的版本号")
        +field("configuration.msp_version", "MSP版本")(required="true", ng-maxlength="20")

    .row-fluid.actions
      .col-xs-12.col-sm-8.col-md-offset-2
        p.alert.alert-info
          span.col-md-offset-4
            +formBtn("创建", "ok")(type="submit")
            +formBtn("取消", "remove")(ui-sref="hosts")
