//   View host
doctype html

mixin form_field(name, label, icon, tip)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="host_#{name}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        input.form-control(id="host_#{name}", readonly, name="host.#{name}", ng-model="host.#{name}", ng-required,  ng-maxlength="20", type="text", placeholder="#{label}")
        i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}

.row(ng-controller="HostViewCtrl")
  form.form-horizontal(name="viewHostForm", novalidaterole="form")
    +form_field("name",     "主机名", "star", "主机名，不要用中文，尽量为简单的英文字符")
    +form_field("address",  "地址",   "font", "主机地址，IP地址或者域名均可")
    +form_field("capacity", "容量",   "th", "主机上可以部署多少个MSU/MSP实例")
    .form-group
      label.col-xs-12.col-sm-3.control-label.no-padding-right 日志信息
      .col-xs-12.col-sm-5
        pre {{host.creationLog}}

  .row-fluid.actions
      .col-xs-12.col-sm-3
      .col-xs-12.col-sm-5
        button.btn.btn-sm.btn-primary(ng-click="deleteHost(host.id)")
          i.icon-ok
          | 删除
        button.btn.btn-sm.btn-link(ui-sref="hosts")
          i.icon-remove
          | 返回
