include /lib/mixins/form

mixin step(step, title)
  li(data-step=step, class!=attributes.class)
    span.step #{step}
    span.title #{title}
mixin stepPane(step)
  .step-pane(id="step#{step}", class!=attributes.class, data-step=step)
    block
mixin detail(label, value)
  .profile-info-row
    .profile-info-name #{label}
    .profile-info-value #{value}

.signup-box.visible.widget-box.no-border#signup-box
  .widget-body
    .widget-main.fuelux
      h4.header.green.lighter.bigger
        i.icon-group.blue
        | 注册帐户
      .row-fluid.wizard#fuelux-wizard(data-initialize="wizard",data-adjust="false")
        ul.steps
          +step(1, "基本信息")(class="active")
          +step(2, "管理员信息")
          +step(3, "凭证信息")
          +step(4, "完成注册")
        hr
        .step-content.row-fluid.position-relative#step-container
          +stepPane(1)(class="active")
            form.form-horizontal(novalidate,name="step1Form",role="form")
              +group("registration", "type", "帐户类型", "", "{{registration.typeHelp()}}")(class="radio")
                // TODO use form select one control to replace
                label
                  +radio("registration","type")(id="registration_type_enterprise", value="Enterprise", class="ace")
                  span.lbl 企业
                label
                  +radio("registration","type")(id="registration_type_individual", value="Individual", class="ace")
                  span.lbl 个人
              +group("registration", "as",  "服务选择", "", "选择您需要在itsnow平台完成的工作")(class="checkbox")
                // TODO use form select more control to replace
                label
                  +checkbox("registration", "asUser")(ng-disabled="registration.individual()", value="user", class="ace")
                  span.lbl 服务使用方
                label
                  +checkbox("registration", "asProvider")(ng-disabled="registration.individual()", value="provider", class="ace")
                  span.lbl 服务供应方
              +group("registration", "account.name", "{{registration.nameLabel()}}", "group", "请设置{{registration.nameLabel()}}")(class="has-info")
                +text("registration", "account.name")(ng-required,ng-minlength="2",ng-maxlength="50", ng-check="/public/accounts/check/name/{0}", placeholder="{{registration.namePlaceholder()}}")
              +group("registration", "account.domain", "自定义域名", "", "仅由英文,数字，下划线组合")
                .input-group
                  .input-group-addon http://
                  +text("registration", "account.domain")(ng-required="true", ng-minlength="2", ng-maxlength="10",ng-check="/public/accounts/check/domain/{0}", placeholder="2-10位", ng-pattern='/^[\\w|\\d|_]+$/')
                  .input-group-addon .itsnow.com
          +stepPane(2)
            form.form-horizontal(novalidate,name="step2Form",role="form")
              +group("registration", "user.username", "用户名","user", "管理员帐户登录名")
                +text("registration", "user.username")(ng-required, ng-minlength="4", ng-maxlength="20", ng-pattern='/^[a-zA-Z0-9]|_|\\-|\\.]+$/', ng-check="/public/users/check/username/{0}", placeholder="用户名")
              +group("registration", "user.email", "电子邮箱", "envelope", "用于找回密码，接收通知等")
                +input("registration", "user.email")(ng-required, ng-check="/public/users/check/email/{0}", type="email", placeholder="someone@company.com")
              +group("registration", "user.phone", "电话号码","headphones","帐号审批通过后，会通过该电话与您联系")
                +text("registration", "user.phone")(ng-required, ng-check="/public/users/check/phone/{0}", placeholder="13912345678", ng-pattern='/[\\d|-]{8,11}/')
              +group("registration", "user.password", "密码", "lock", "设置6-20位密码")
                +input("registration", "user.password")(ng-required, ng-minlength="6", ng-maxlength="20", type="password", placeholder="数字,字母，符号组合")
              +group("registration", "user.repeatPassword", "重复密码", "retweet", "重复以上密码")
                +input("registration", "user.repeatPassword")(ng-required, type="password", placeholder="重复密码",pw-check="registration_user_password")
          +stepPane(3)
            form.form-horizontal(novalidate,name="step3Form", role="form")
              +group("registration", "attachments.yyzz", "营业执照","briefcase","请上传营业执照复印件")(ng-hide="registration.individual()")
                +file("registration", "attachments.yyzz")(ng-required, class="width-100")
              +group("registration", "attachments.rwdjz", "税务登记证","certificate","请上传税务登记证复印件")(ng-hide="registration.individual()")
                +file("registration", "attachments.swdjz")(ng-required, class="width-100")
              +group("registration", "attachments.id_card", "个人身份证", "card","请上传个人身份证复印件")(ng-show="registration.individual()")
                +file("registration","attachments.id_card")(ng-required, class="width-100")

          +stepPane(4)
            .profile-user-info.profile-user-info-striped
              +detail("帐户类型", "{{registration.type}}")
              +detail("服务选择", "{{registration.serviceRoles()}}")
              +detail("企业名称", "{{registration.account.name}}")
              +detail("自定义域名", "http://{{registration.account.domain}}.itsnow.com")
              +detail("--", " ")
              +detail("用户名", "{{registration.user.username}}")
              +detail("电子邮箱", "{{registration.user.email}}")
              +detail("电话号码", "{{registration.user.phone}}")
            form.form-horizontal(novalidate,name="step4Form", role="form")
              label.block.center
                input.ace#accept_license(name="acceptLicense", ng-model="acceptLicense", type="checkbox", value="accept")
                span.lbl 我接受使用协议
        hr
        .row-fluid.actions
          button.btn.btn-white.pull-left(ui-sref="authenticate")
            i.icon-desktop
            | 返回
          button.btn.btn-prev(disabled)
            i.icon-arrow-left
            | 上一步
          button.btn.btn-success.btn-next(data-last="注册")
            | 下一步
            i.icon-arrow-right.icon-on-right
