//   detail dict
doctype html
mixin widgetBox(title)
  .col-md-offset-2.col-md-8
    .widget-box
      .widget-header
        h4 #{title}
      .widget-body
        .widget-main
          block
mixin form_field(name, label, icon, tip, pattern, maxLength,ngblur,ngread)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="dict_#{name}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        input.form-control(id="dict_#{name}", name="dict.#{name}", ng-model="dict.#{name}", ng-blur="#{ngblur}", ng-maxlength="#{maxLength}", type="text", placeholder="#{label}", ng-pattern="#{pattern}",required,ng-readonly="#{ngread}")
        i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}
mixin selector(name, label, datas, tip)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="dict_#{name}") #{label}
    .col-xs-12.col-sm-5
      select.form-control(ng-model="#{name}", ng-options="data.name for data in #{datas}", ng-init="#{name} = #{datas}[0]")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}
mixin actionBar()
  .row-fluid.actions
    .col-xs-12.col-sm-8.col-md-offset-2
      p.alert.alert-info
        span.col-md-offset-4
          block
mixin submitformBtn(title, icon)
  button.btn.btn-sm.btn-primary(ng-click!=attributes["ng-click"], ui-sref!=attributes["ui-sref"], type!=attributes["type"])
    i(class="icon-#{icon}")
    | #{title}
mixin removeformBtn(title, icon)
  button.btn.btn-sm.btn-default(ng-click!=attributes["ng-click"], ui-sref!=attributes["ui-sref"], type!=attributes["type"])
    i(class="icon-#{icon}")
    | #{title}
.row(ng-controller="DictNewCtrl")
  form.form-horizontal(name="newDictForm", novalidate,role="form",ng-submit="changeDict()")
    +widgetBox("字典代码信息")
      +form_field("code", "字典代码", "star", "", "/^[a-zA-Z0-9]+$/", "20","autoComCode()","false")
      +form_field("name", "字典名称", "star", "", "/^[\u4e00-\u9fa5]+$/", "20","","ngread")
      +form_field("display", "显示名", "star", "", "", "20","autoValidate()","false")
      +form_field("val", "值", "star", "", "/^[a-zA-Z0-9]+$/", "20","","false")
      +selector("selectstate", "状态","datas", "")
    +actionBar()
      +submitformBtn("创建", "ok")(type="submit")
      +removeformBtn("取消", "remove")(ui-sref="dict")

