//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("数据库信息")
  +group("schema", "hostId", "数据库主机", "th-list", "数据库主机")
    +select("schema", "hostId")(readonly=readonly, required="true", ng-options="host.id as host.name for host in hosts")
  +group("schema", "name", "名称", "star", "数据库名称")
    +input("schema", "name")(readonly=readonly, required="true", ng-maxlength="20", ng-check="/admin/api/schemas/check/name/{0}")
  +group("schema", "description", "描述", "pencil", "数据库描述")
    +area("schema", "description")(readonly=readonly)
+section("配置信息")
  +group("schema", "configuration.user", "用户名", "user", "数据库用户名")
    +input("schema", "configuration.user")(readonly=readonly, required="true", ng-maxlength="20")
  +group("schema", "configuration.password", "密码", "lock", "数据库用户密码")
    +input("schema", "configuration.password")(readonly=readonly, required="true", ng-maxlength="20")
