mixin blocks(title)
  h2 #{title}
  hr
  block
mixin formGroup()
  .form-group
    .col-md-offset-1.col-md-9
      block
mixin formField(label, value)
  label.control-label.col-md-2 #{label}:
  div(class!=attributes["class"])
    input.form-control(type="text", value="#{value}", readonly)
mixin label(title,content)
  label.control-label.col-md-2 #{title}:
  .col-md-10
    textarea.form-control(rows='4',readonly) #{content}
      block
mixin labelSingle(title)
  label.control-label.col-md-2 #{title}:
  .col-md-10
    block
mixin tableForm(name,desc)
  tr
    td #{name}
    td #{desc}
mixin button(href,num)
  li
    a(href="#{href}") #{num}

.form-horizontal(ui-view ng-controller='userCtrl')
  +blocks("地点详情")
    +formGroup()
      +formField("地点名称", "大众一厂")(class="col-md-4")
      +formField("所在区域", "上海徐汇")(class="col-md-4")
    +formGroup()
      +formField("工作时间","周一，周二，周三，周四，周五")(class="col-md-10")
    +formGroup()
      +label('地点描述','xxxxxx')
    +formGroup()
      +label('详细地址','xxxxx')
    +formGroup()
      +labelSingle('所属部门')
        table.table.table-striped.table-bordered
          tr
            th 部门名称
            th 部门描述
          +tableForm('财务部', '用简单的标记和样式，就能做个上一页和下一页的简单翻页。用在像博客和杂志这样的简单站点上棒极了。')
          +tableForm('财务部', '用简单的标记和样式，就能做个上一页和下一页的简单翻页。用在像博客和杂志这样的简单站点上棒极了。')
          +tableForm('财务部', '用简单的标记和样式，就能做个上一页和下一页的简单翻页。用在像博客和杂志这样的简单站点上棒极了。')
          +tableForm('财务部', '用简单的标记和样式，就能做个上一页和下一页的简单翻页。用在像博客和杂志这样的简单站点上棒极了。')
      .col-md-4.col-md-offset-4
        ul.pagination
          +button("#", "《")
          +button("#","2")
          +button("#","3")
          +button("#","4")
          +button("#","5")
          +button("#","》")