//   detail user
doctype html
mixin widgetBox(title)
    .col-md-offset-2.col-md-8
        .widget-box
            .widget-header
                h4 #{title}
            .widget-body
                .widget-main
                    block
mixin formGroup(name, label, icon, tip)
    .form-group
        label.col-xs-12.col-sm-3.control-label.no-padding-right(for="user_#{name}") #{label}
        .col-xs-12.col-sm-5
            span.block.input-icon.input-icon-right
                block
                i(class="icon-#{icon}")
        .help-block.col-xs-12.col-sm-reset.inline #{tip}
mixin field(name, label)
    input.form-control(id="user_#{name}", name="user.#{name}", ng-model="user.#{name}", type="text", placeholder="#{label}", required!=attributes["required"], ng-maxlength!=attributes["ng-maxlength"], min!=attributes["min"], max!=attributes["max"], ng-check!=attributes["ng-check"], err-type!=attributes["err-type"])
mixin fieldNum(name, label)
    input.form-control(id="user_#{name}", name="user.#{name}", ng-model="user.#{name}", type="number", placeholder="#{label}", min!=attributes["min"], max!=attributes["max"])
mixin formBtn(title, icon)
    button.btn.btn-sm.btn-primary(ng-click!=attributes["ng-click"], ui-sref!=attributes["ui-sref"], type!=attributes["type"])
        i(class="icon-#{icon}")
        | #{title}

.row(ng-controller="UserDetailCtrl")
    form.form-horizontal(name="userDeatilForm", novalidate="novalidate", ng-model-options="{ updateOn: 'mousedown blur' }", role="form", ng-submit="createHost()")
        +widgetBox("用户信息")
            +formGroup("name","用户姓名", "", "")
                +field("name","用户姓名")(required, ng-maxlength="20")
            +formGroup("nicName","用户昵称",   "", "")
                +field("nicName", "用户昵称")(required, ng-maxlength="20")
            +formGroup("emial",  "电子邮箱",   "", "")
                +field("email", "电子邮箱", "", "")(required,ng-check="")
            +formGroup("phone",  "电话号码",   "", "")
                +field("phone", "电话号码", "", "")(required)
            +formGroup("password",  "密码",   "", "")
                +field("password", "密码", "", "")(required)
            +formGroup("emial",  "重复密码",   "", "")
                +field("email", "重复密码", "", "")(required)
        .row-fluid.actions
            .col-xs-12.col-sm-8.col-md-offset-2
                p.alert.alert-info
                    span.col-md-offset-4
                        +formBtn("创建", "ok")(type="submit")
                        +formBtn("取消", "remove")(ui-sref="user")
