mixin tool_button(action, icon, text, weight, rejectCss, requireCss)
  button.btn.btn-primary.no-border(type="button", ng-click="#{action}", weight="#{weight}", reject-css="#{rejectCss}", require-css="#{requireCss}")
    span.glyphicon(class="glyphicon-#{icon}")
    | #{text}
mixin drop_button(action, icon, text)
  li
    a(href=action)
      span.glyphicon(class="glyphicon-#{icon}")
      | #{text}
mixin nav_link(value, icon, text)
  a(ng-switch-when="#{value}", ng-click="params.page(page.number)", href="")
    span.glyphicon(class="glyphicon-#{icon}")
    | #{text}
mixin page_navs()
  li(ng-repeat="page in pages", ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}", ng-show="page.type == 'prev' || page.type == 'next'", ng-switch="page.type")
    +nav_link("prev", "step-backward", "上一页")
    +nav_link("next", "step-forward", "下一页")
mixin page_size_button(count)
  button.btn.btn-primary.no-border(type="button", ng-class="{'active':params.count() == #{count}}", ng-click="params.count(#{count})")= count
mixin select_all()
  input(type="checkbox", ng-model="selection.checked", name="filter-checkbox", value="")#select_all

div(ui-view='')
  .container(ng-controller="UserListCtrl")

    .btn-toolbar(role="toolbar")
      .btn-group
        +tool_button("tableParams.reload()", "refresh", "", "*", "", "")
      .btn-group
        +tool_button("actionService.gotoState('createUserDetail')", "new", "新建", "*", "", "")
        +tool_button("actionService.gotoState('updateUserDetail')", "edit", "编辑", "1", "", "")
      .btn-group
        button.btn.btn-primary.no-border.dropdown-toggle(type="button",data-toggle="dropdown")
          | 更多操作
          span.caret
        ul.dropdown-menu(role="menu")
          +drop_button("#", "remove", "删除")
      .btn-group.pull-right
        .nav-search#nav-search
          form.form-search
            span.input-icon
              input.nav-search-input(type="text", placeholder="姓名／用户名／手机／邮箱...",autocomplete="off")#nav-search-input
              i.icon-search.nav-search-icon

    table.table.table-hover.table-bordered(template-pagination="customPager",ng-table="tableParams")#table

      tr(ng-repeat="user in $data", value="{{user.id}}")
        td(width="30" style="text-align: left" header="'ngTableCheckboxHeader'")
          input(type="checkbox" ng-model="selection.items[user.id]")
        td(data-title="'姓名'") 
          a(ui-sref="user_view({name: '{{user.name}}'})") {{user | formatUser}}
        td(data-title="'所属帐户'")
          a(ui-sref="account_view({sn: '{{user.account.sn}}'})") {{user.account.name}}
        td(data-title="'邮箱'") 
          a(href="mailto:{{user.email}}") {{user.email}}
        td(data-title="'电话'", align="right") {{user.phone}}
        td(data-title="'是否启用'") {{user.enabled == '1' ? '启用' : '停用'}}

  script(type="text/ng-template")#ngTableCheckboxHeader
    +select_all()
  script(type="text/ng-template")#customPager
    ul.pager.ng-cloak
      +page_navs()
      li
        .btn-group
          +page_size_button(5)
          +page_size_button(10)
          +page_size_button(25)
          +page_size_button(50)
          +page_size_button(100)
