mixin blocks(title)
  h2 #{title}
  hr
  block
mixin formGroup()
  .form-group
    .col-md-offset-2.col-md-8
      block
mixin formField(label, value)
  label.control-label.col-md-2 #{label}:
  div()&attributes(attributes)
    input.form-control(type="text", ng-model="#{value}", readonly)
mixin label(title)
  label.control-label.col-md-2 #{title}:
  .col-md-8
    block
mixin tableForm(name,description)
  tr
    td #{name}
    td #{description}

mixin button(href,num)
  li
    a(href="#{href}") #{num}
mixin table()
  table.table.table-striped.table-bordered.table-condensed
    +tR('名称', '描述')
    block
mixin tR(name,description)
  tr
    th #{name}
    th #{description}

.form-horizontal(ui-view ng-controller='userViewCtrl')
  +blocks("用户详情")
    +formGroup()
      +formField("用户名", "user.username")(class="col-md-3")
      +formField("昵称", "user.nickname")(class="col-md-3")
    +formGroup()
      +formField("邮箱", "user.email")(class="col-md-3")
      +formField("手机", "user.phone")(class="col-md-3")
    +formGroup()
      +formField("是否过期", "user.expired")(class="col-md-3")
      +formField("是否锁定", "user.locked")(class="col-md-3")
    +formGroup()
      +formField("用户状态", "user.enabled")(class="col-md-3")
      +formField("注册时间", "user.createdAt")(class="col-md-3")

    +formGroup()
      +formField("所属账户", "user.account.name")(class="col-md-8")

    +formGroup()
      +label('所属角色')
        +table()
          +tableForm('{{}}', '{{}}')

    +formGroup()
      +label('所属组')
        +table()
          +tableForm('数据库组', ', so on Windows you may want to invoke it from a Git Bash window.')



































      //.col-md-4.col-md-offset-4
      //  ul.pagination
      //    +button("#", "《")
      //    +button("#","2")
      //    +button("#","3")
      //    +button("#","4")
      //    +button("#","5")
      //    +button("#","》")