//   view process
doctype html

mixin form_field(name, label, icon, tip)
  .form-group
    label.col-xs-12.col-sm-3.control-label.no-padding-right(for="process_#{name}") #{label}
    .col-xs-12.col-sm-5
      span.block.input-icon.input-icon-right
        input.form-control(id="process_#{name}", name="process.#{name}", ng-model="process.#{name}", type="text", readonley="readonly")
        i(class="icon-#{icon}")
    .help-block.col-xs-12.col-sm-reset.inline #{tip}

.row(ng-controller="ProcessViewCtrl")
  form.form-horizontal(name="viewProcessForm", novalidate, ng-model-options="{ updateOn: 'mousedown blur' }", role="form")
    +form_field("name",     "主机地址", "star", "")
    +form_field("address",  "进程标识",   "star", "")
    +form_field("capacity", "工作目录",   "star", "")
    +form_field("capacity", "配置属性",   "star", "")
    +form_field("capacity", "进程ID(PID)",   "star", "")
    +form_field("capacity", "进程状态",   "star", "")
    +form_field("capacity", "工作日志",   "star", "")