//- include the form mixins
include /lib/mixins/form
//- this form need includer provide variable:
    readonly : true | false
+section("请求人信息")
  +group("incident", "msuAccountName", "帐户", "star", "选择帐户")
    +input("incident", "msuAccountName")(readonly=readonly)
  +group("incident", "requesterName", "请求人", "star", "请求人")
    +input("incident", "requesterName")(readonly=readonly,required)
  +group("incident", "requesterPhone", "联系电话", "star", "联系电话")
    +input("incident", "requesterPhone")(readonly=readonly)
  +group("incident", "requesterEmail", "邮箱", "star", "请求人名称")
    +input("incident", "requesterEmail")(readonly=readonly)
  +group("incident", "requesterLocation", "所处地区", "star", "所处地区")
    +input("incident", "requesterLocation")(readonly=readonly)
+section("故障信息")
  +group("incident", "requestType", "请求来源", "star", "请求来源")
    +select("incident", "requestType")(ng-options="requestType.value as requestType.key for requestType in requestTypes.details")
  +group("incident", "impact", "影响程度", "star", "影响程度")
    +select("incident", "impact")(ng-options="impact.value as impact.key for impact in impacts.details")
  +group("incident", "priority", "优先级", "star", "优先级")
    +select("incident", "priority")(ng-options="priority.value as priority.key for priority in priorities.details")
  +group("incident", "urgency", "紧急程度", "star", "紧急程度")
    +select("incident", "urgency")(ng-options="urgency.value as urgency.key for urgency in urgencies.details")
  +group("incident", "category", "配置分类", "star", "配置分类")
    +select("incident", "category")(ng-options="category.value as category.key for category in categories.details")
  +group("incident", "ci", "配置项", "star", "配置项")
    +input("incident", "ci")(readonly=readonly)
  +group("incident", "requestDescription", "问题描述", "edit", "问题描述")
    +area("incident", "requestDescription")(readonly=readonly,required)
  div(ng-hide='buttonLabel==="创建"')
    +group("incident", "solution", "解决方案", "edit", "解决方案")
      +area("incident", "solution")(readonly=readonly)
