mixin blocks(title)
  h2 #{title}
  hr
  block
mixin tableForm(id,title,brief,createTime,description)
  tr
    td
      img(ng-src="#{id}",class="img-responsive")
    td #{title}
    td #{brief}
    td #{createTime}
    td #{description}
mixin tables(icon,name,title,time,description)
  .col-md-12
    table.table.table-striped.table-bordered.table-hover
      tr
        th(class="thNo") #{icon}
        th(class="thNo") #{name}
        th(class="thNo") #{title}
        th(class="thNo") #{time}
        th(class="con") #{description}
      block
.form-horizontal
  +blocks("服务项详情")
    +tables('图标', '名称', '标题',  '创建时间', '描述')
      +tableForm('{{item.icon}}', '{{item.sn}}', '{{item.title}}', '{{item.createdAt | date:"yyyy-MM-dd HH:mm:ss"}}','{{item.description}}')




                    
