mixin tool_button(action, icon, text, weight, rejectCss, requireCss)
    button.btn.btn-primary.no-border(type="button", ng-click=action, weight=weight, reject-css=rejectCss, require-css=requireCss)
        span.glyphicon(class="glyphicon-#{icon}")
        | #{text}
mixin td(title, name)
    td(data-title=title) #{name}
// 由于IDEA/WebStorm等在script tag内对jade的解析有问题，所以将这段会仅在IDE中出错的抽取到mixin中
mixin select_all()
  input(type="checkbox", ng-model="checkboxes.checked", name="filter-checkbox", value="")#select_all

.container(ng-controller="DeptListCtrl")

  .btn-toolbar(role="toolbar")
    .btn-group
        +tool_button("", "refresh", "", "*", "", "")
    .btn-group
        +tool_button("actionService.gotoState('dept_form', $event)", "new", "新建", "*", "", "")
        +tool_button("actionService.gotoState('dept_form', $event)", "edit", "编辑", "1", "", "")
        +tool_button("actionService.perform(remove, $event)", "remove", "删除", "1+", "", "")
    .btn-group.pull-right
      .nav-search#nav-search
        form.form-search
          span.input-icon
            input.nav-search-input(type="text", placeholder="请输入地点名称或者地址...",autocomplete="off",ng-keypress="search($event)")#nav-search-input
            i.icon-search.nav-search-icon

  table.table.table-hover.table-bordered(ng-table="tableParams")#table
    tr(ng-repeat="dept in departments", value="{{dept.sn}}")
      td(width="30" style="text-align: left" header="'ngTableCheckboxHeader'")
        input(type="checkbox" ng-model="checkboxes.items[dept.sn]")
      +td("'部门名称'", "{{dept.name}}")
      +td("'描述'", "{{dept.description}}")
      +td("'地点'", "{{dept.sites | siteFilter}}")

script(type="text/ng-template")#ngTableCheckboxHeader
  +select_all()
