mixin blocks(title)
  h2 #{title}
  hr
  block
mixin formGroup()
  .form-group
    .col-md-12
      block
mixin formField(label, value)
  label.control-label.col-md-2 #{label}:
  .col-md-3
    input.form-control(type="text", ng-model="#{value}", readonly)
mixin label(title)
  label.control-label.col-md-2 #{title}:
  .col-md-8
    block
mixin tableForm(username,nickname,email,phone)
  tr(ng-repeat="user in role.users")
    td #{username}
    td #{nickname}
    td #{email}
    td #{phone}
mixin button(href,num)
  li
    a(href="#{href}") #{num}

.form-horizontal
  +blocks("角色详情")
    +formGroup()
      +formField("名称", "role.name")
      +formField("权限", "xxxx") //这个暂无，备用
    +formGroup()
      +label('描述')
        textarea.form-control(rows='4',ng-model="role.description",readonly)
    +formGroup()
      +label('用户列表')
        table.table.table-striped.table-bordered.table-condensed
          tr
            th 用户名
            th 昵称
            th 邮箱
            th 手机
          +tableForm('{{user.name}}', '{{user.nickName}}', '{{user.email}}', '{{user.phone}}')
